<%= form_with(model: @log, local: true) do |form| %>

      <div class="field">
        <p>Title</p> 
      </div>
      <%= form.text_field :title,placeholder: "60分jog",maxlength:40 %>

      <div class="field">
        <p>Day</p>
      </div>
      <%= form.datetime_field :day,class:"log-day", placeholder: "日付" %>
      
    <div class="distance-time-field">

      <div class="distance-field">
        <div class="field">
          <p>Distance</p> 例)　10km
        </div>
        <div>
         <%= form.text_field :distance, class:"form-distance",placeholder: "10",in: 1..200,step: "0.1",maxlength:3 %>　km
        </div>
      </div>
      
      <div class="time-field">
        <div class="field">
          <p>Time</p>  例)　00:30:00
        </div>
        <div>
         <%= form.text_field :hour_time, class:"form-time",placeholder: "00",in: 00..23,maxlength:2 %> ：
         <%= form.text_field :min_time, class:"form-time",placeholder: "20", in: 00..59 ,maxlength:2%> ：
         <%= form.text_field :sec_time, class:"form-time",placeholder: "00",in: 00..59,maxlength:2 %>
        </div>
      </div>

    </div>
      
      <div class="field">
        <p>Place(任意)</p>
      </div>
      <%= form.text_field :place, placeholder: "例)〇〇運動公園",maxlength:40 %>

      <div class="field">
         <p><%= form.label :image, "Image" %></p>
        <%= form.file_field :image %>
      </div>
      
      <div class="field">
        <p>Content</p>
      </div>
      <%= form.text_area :content,rows: "10",maxlength:1000 %>
    
      <%= form.submit "Log" %>
    <% end %>