<div class='log-contents'>
    <h2 class='title'>log</h2>
    
    <ul class='log-lists'>
      
      <% @logs.each do |log| %>
      <li class='list'>
        <%= link_to root_path do %>
        <div class='log-img-content'>
          <%= image_tag log.image, class: "log-img" if log.image.attached?%>
        </div>
        <div class='log-info'>
            <%= log.day %>
          </h3>
          <div class='log-time'>
            <span>time:<%= log.time %><br>distance:<%= log.distance %>km<br>place:<%= log.place %></span>
          </div>
          <%= link_to  log.user.nickname, "/users/#{log.user.id}", class: :log_user %>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>