<div class='log-contents'>
    <h2 class='log-contents-title'><%= link_to 'log', root_path %></h2>
    
    <div class="log-index">
      <% @logs.each do |log| %>
      
      <div class="log">
        <div class='log-img-content'>
          <%= link_to log_path(log.id) do %>
            <%= image_tag log.image, class: "log-img" if log.image.attached?%>
          <% end %>
        </div>

        <div class="log-header">
          <div class="log-user-link">
            <%= link_to  log.user.nickname, user_path(log.user.id) %>
          </div>
          <%= log.day %>
            <p><%= log.title %></p>
          </div>
            
          <div class='log-category'>
            <div class="log-category-title">
             time<br>
             distance<br>
             place
            </div>
          <div class="log-category-data">
            <%= log.hour_time %>時間<%= log.min_time %>分<%= log.sec_time %>秒<br>
            <%= log.distance %>km<br>
            <%= log.place %>
          </div>
        </div>
      </div>
    
      <% end %>
    </div>
  </div>