<div class="log-contents">
  <div class='log-contents-show'>
    <h2 class='title'><%= link_to 'log', root_path %></h2>


      <div class="log-show">
        <div class='log-img-content'>
          <%= image_tag @log.image, class: "log-img" %>
        </div>

        <div class="log-header">
          <div class='log-info'>
            <% if user_signed_in? && current_user.id == @log.user.id %>
              <input id="checkbox" type="checkbox">
              <label id="menu01" class="menu-trigger" for="checkbox">
               <span></span>
               <span></span>
               <span></span>
             </label>
            <div class="menu-box">
              <%= link_to '編集する',edit_log_path(@log.id) %><br>
              <%= link_to '削除する',log_path(@log.id), method: :delete %>
            </div>
            <% end %>
          </div>

          <div class="log-user-link">
            <%= link_to  @log.user.nickname, user_path(@log.user.id) %>
          </div>

          <%= @log.day %>
          <p><%= @log.title %></p>
        </div>
            
        <div class='log-category'>
          <div class="log-category-title">
             time<br>
             distance<br>
             place<br>
          </div>
          <div class="log-category-data">
            <%= format("%02d",@log.hour_time) %>:<%= format("%02d",@log.min_time) %>:<%= format("%02d",@log.sec_time) %><br>
            <%= @log.distance %>km<br>
            <%= @log.place %><br>
          </div>
        </div>

        <div class="log-content">
          <p>content</P>
          <%= @log.content%>
        </div>
      </div>

  <!--コメント-->
    <div class="container">

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.content %>
        </p>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= form_with(model: [@log, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    
  </div>
  </div>
</div>